* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E9E6D7;
}

.nav {
    width: 100%;
    height: 13vh;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.l {
    width: 50%;
    padding-left: 2vw;
}

.lm {
    max-height: 6vh;
    height: 100%;
    width: auto;
}

.links {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 2vw;
}

.lc {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.lci {
    height: 6.5vh;
    width: auto;
}

/* Scrollbar styling */
::-webkit-scrollbar { 
    width: 10px; 
    height: 10px; 
}
::-webkit-scrollbar-track { 
    background: #E9E6D7; 
}
::-webkit-scrollbar-thumb { 
    background: #c4bfa8; 
    border-radius: 5px;
    border: 2px solid #E9E6D7;
}
::-webkit-scrollbar-thumb:hover { 
    background: #b0aa8f; 
}